Repository Bento-Project-SCARS/ProjectSCARS, pull requests merged in 2025-07, with the labels that each got.

#535 Implement Value Deletion
  .vscode/mcp.json
  CentralServer/centralserver/internals/auth_handler.py
  CentralServer/centralserver/internals/mail_handler.py
  CentralServer/centralserver/internals/models/school.py
  CentralServer/centralserver/internals/models/user.py
  CentralServer/centralserver/internals/templater.py
  CentralServer/centralserver/internals/user_handler.py
  CentralServer/centralserver/routers/auth_routes/email.py
  CentralServer/centralserver/routers/auth_routes/multifactor.py
  CentralServer/centralserver/routers/schools_routes.py
  CentralServer/centralserver/routers/users_routes.py
  CentralServer/pyproject.toml
  CentralServer/scripts/clean.py
  CentralServer/templates/mail/base.html
  CentralServer/templates/mail/email_verification.html
  CentralServer/templates/mail/email_verification.txt
  CentralServer/templates/mail/mfa_otp_disabled.html
  CentralServer/templates/mail/mfa_otp_disabled.txt
  CentralServer/templates/mail/mfa_otp_enabled.html
  CentralServer/templates/mail/mfa_otp_enabled.txt
  CentralServer/templates/mail/password_recovery.html
  CentralServer/templates/mail/password_recovery.txt
  CentralServer/templates/mail/unusual_login.html
  CentralServer/templates/mail/unusual_login.txt
  CentralServer/uv.lock
  WebClient/postcss.config.mjs
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/schools/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/components/ForgotPasswordComponent/ForgotPasswordComponent.tsx
  WebClient/src/components/MainLoginComponent/MainLoginComponent.tsx
  WebClient/src/components/UserManagement/ChangeEmailComponent.tsx
  WebClient/src/components/UserManagement/EditUserComponent.tsx
  WebClient/src/lib/api/csclient/sdk.gen.ts
  WebClient/src/lib/api/csclient/types.gen.ts
  WebClient/src/lib/api/school.tsx
  WebClient/src/lib/types.ts
  WebClient/tests/app/not-found.test.tsx
  WebClient/tests/components/ErrorComponent.test.tsx
  WebClient/tests/components/LoadingComponent.test.tsx
  WebClient/tests/constants/info.test.ts
  WebClient/tests/integration/component-integration.test.ts
  WebClient/tests/lib/anim.test.ts
  WebClient/tests/lib/error.test.ts
  WebClient/tests/lib/info.test.ts
  WebClient/tests/lib/theme.test.ts
  WebClient/tests/lib/utils/token.test.ts
  WebClient/tests/pages/layout.test.tsx
  WebClient/tests/pages/not-found.test.tsx
  WebClient/tests/pages/root-page.test.tsx
  WebClient/tests/setup/test-helpers.ts
  WebClient/tests/theme/theme.test.ts
  WebClient/tests/utils/test-utils.tsx
  WebClient/tests/utils/token.test.ts
Labels: kind > bug, scope > web client, scope > central server

#545 Addition in Schools and Users Page
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/schools/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/components/SchoolManagement/SchoolStatusFilter.tsx
  WebClient/src/components/UserManagement/CreateUserComponent.tsx
  WebClient/src/components/UserManagement/EditUserComponent.tsx
  WebClient/src/lib/api/school.tsx
Labels: kind > bug, scope > web client

#496 reports
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/liquidation-report/page.tsx
  WebClient/src/components/CreatableUnitSelect.tsx
  WebClient/src/components/LiquidationReportCategory.tsx
Labels: kind > enhancement, scope > web client

#556 User Invites
  CentralServer/centralserver/internals/models/user.py
  CentralServer/centralserver/internals/user_handler.py
  CentralServer/centralserver/routers/auth_routes/__init__.py
  CentralServer/templates/mail/invite.html
  CentralServer/templates/mail/invite.txt
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/components/MainLoginComponent/MainLoginComponent.tsx
  WebClient/src/components/UserManagement/InviteUserComponent.tsx
  WebClient/src/lib/api/csclient/sdk.gen.ts
  WebClient/src/lib/api/csclient/types.gen.ts
  WebClient/src/lib/api/customClient.ts
Labels: kind > enhancement, scope > web client, scope > central server

#581 Integrate Daily Sales and Purchases Reports Management
  .vscode/launch.json
  CentralServer/centralserver/info.py
  CentralServer/centralserver/internals/models/reports/daily_financial_report.py
  CentralServer/centralserver/routers/reports_routes/daily.py
  CentralServer/pyproject.toml
  WebClient/bun.lock
  WebClient/package.json
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/welcome/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/sales/page.tsx
  WebClient/src/lib/api/csclient/sdk.gen.ts
  WebClient/src/lib/api/csclient/types.gen.ts
  WebClient/src/lib/api/customClient.ts
  WebClient/src/lib/info.ts
Labels: kind > enhancement, tag > help wanted, scope > web client, scope > central server

#582 fix(web-client): fix alignment of text inputs
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/welcome/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/sales/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/schools/page.tsx
Labels: kind > bug, scope > web client

#586 Entry not loaded on day selection in daily sales and purchases page
  CentralServer/uv.lock
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/sales/page.tsx
Labels: kind > bug, scope > web client

#594 feat(web-client): Implement bulk school assignment to users
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
Labels: kind > enhancement, scope > web client

#595 feat(web-client): Allow password change in user management page
  WebClient/src/components/UserManagement/EditUserComponent.tsx
Labels: kind > enhancement, scope > web client

#596 feat(central-server,web-client): change site settings
  CentralServer/centralserver/info.py
  CentralServer/centralserver/internals/config_handler.py
  CentralServer/centralserver/internals/models/settings.py
  CentralServer/centralserver/internals/permissions.py
  CentralServer/centralserver/routers/misc_routes.py
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/settings/page.tsx
  WebClient/src/lib/api/config.tsx
  WebClient/src/lib/api/csclient/sdk.gen.ts
  WebClient/src/lib/api/csclient/types.gen.ts
Labels: kind > enhancement, scope > web client, scope > central server

#601 Version Update
  CentralServer/.config.example.json
  CentralServer/centralserver/info.py
  CentralServer/centralserver/internals/config_handler.py
  CentralServer/centralserver/internals/logger.py
  CentralServer/centralserver/internals/models/settings.py
  CentralServer/centralserver/internals/permissions.py
  CentralServer/centralserver/routers/misc_routes.py
  CentralServer/config.pytest.json
  CentralServer/uv.lock
  WebClient/.gitignore
  WebClient/bun.lock
  WebClient/open-next.config.ts
  WebClient/package-lock.json
  WebClient/package.json
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/settings/page.tsx
  WebClient/src/lib/api/config.tsx
  WebClient/src/lib/api/csclient/sdk.gen.ts
  WebClient/src/lib/api/csclient/types.gen.ts
  WebClient/wrangler.json
Labels: kind > enhancement, scope > ci, kind > dependencies, scope > central server

#604 fix(web-client): fix envvars
  WebClient/.env.example
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/welcome/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/schools/page.tsx
  WebClient/src/components/MainLoginComponent/MainLoginComponent.tsx
  WebClient/src/lib/api/customClient.ts
  WebClient/src/lib/info.ts
Labels: kind > bug, scope > web client

#607 revert(web-client): revert 109d47d
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/schools/page.tsx
Labels: kind > bug, scope > web client

#612 feat(central-server): add payroll report types and CRUD operations for school payroll reports
  .vscode/launch.json
  CentralServer/.config.example.json
  CentralServer/.config.prod.example.json
  CentralServer/centralserver/internals/models/reports/monthly_report.py
  CentralServer/centralserver/internals/models/reports/payroll_report.py
  CentralServer/centralserver/routers/reports_routes/__init__.py
  CentralServer/centralserver/routers/reports_routes/payroll.py
  CentralServer/scripts/clean.py
  WebClient/.env.example
  WebClient/.env.prod.example
  WebClient/openapi-ts.config.ts
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/payroll/page.tsx
  WebClient/src/lib/api/csclient/sdk.gen.ts
  WebClient/src/lib/api/csclient/types.gen.ts
Labels: kind > enhancement, tag > help wanted, scope > web client, scope > central server

#619 feat: liquidation reports
  CentralServer/centralserver/internals/models/reports/lr_administrative_expenses.py
  CentralServer/centralserver/internals/models/reports/lr_clinic_fund.py
  CentralServer/centralserver/internals/models/reports/lr_he_fund.py
  CentralServer/centralserver/internals/models/reports/lr_revolving_fund.py
  CentralServer/centralserver/internals/models/reports/lr_supplementary_feeding_fund.py
  CentralServer/centralserver/routers/reports_routes/__init__.py
  CentralServer/centralserver/routers/reports_routes/liquidation.py
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/liquidation-report/page.tsx
  WebClient/src/components/LiquidationReportCategory.tsx
  WebClient/src/lib/api/csclient/sdk.gen.ts
  WebClient/src/lib/api/csclient/types.gen.ts
Labels: kind > enhancement, scope > central server

#621 User E-Signatures
  CentralServer/centralserver/internals/user_handler.py
  CentralServer/centralserver/routers/users_routes.py
  CentralServer/data/.gitignore
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/lib/api/csclient/sdk.gen.ts
  WebClient/src/lib/api/csclient/types.gen.ts
  WebClient/src/lib/info.ts
Labels: kind > enhancement, scope > web client, scope > central server

#622 report signature
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/sales/page.tsx
Labels: kind > enhancement, scope > web client

#439 feat(web-client): add `DocumentationPage` with initial content and styles
  WebClient/src/app/(contextWrapper)/(loggedIn)/documentation/DocumentationPage.module.css
  WebClient/src/app/(contextWrapper)/(loggedIn)/documentation/page.tsx
Labels: kind > enhancement, scope > web client

#628 feat: liquidation reports
  CentralServer/centralserver/internals/models/reports/disbursement_voucher.py
  CentralServer/centralserver/internals/models/reports/lr_clinic_fund.py
  CentralServer/centralserver/internals/models/reports/lr_faculty_stud_dev_fund.py
  CentralServer/centralserver/internals/models/reports/lr_he_fund.py
  CentralServer/centralserver/internals/models/reports/lr_revolving_fund.py
  CentralServer/centralserver/internals/models/reports/lr_school_operation_fund.py
  CentralServer/centralserver/internals/models/reports/lr_supplementary_feeding_fund.py
  WebClient/src/app/(contextWrapper)/(loggedIn)/documentation/page.tsx
Labels: kind > enhancement, scope > web client, scope > central server

#629 user signatures
  CentralServer/centralserver/internals/adapters/object_store.py
  CentralServer/centralserver/internals/user_handler.py
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/payroll/page.tsx
  WebClient/src/components/SignatureCanvas/SignatureCanvas.tsx
Labels: kind > enhancement, scope > web client, scope > central server

#643 feat: implement user data synchronization with manual refresh control…
  CentralServer/centralserver/internals/models/reports/lr_administrative_expenses.py
  CentralServer/centralserver/internals/models/reports/lr_clinic_fund.py
  CentralServer/centralserver/internals/models/reports/lr_faculty_stud_dev_fund.py
  CentralServer/centralserver/internals/models/reports/lr_he_fund.py
  CentralServer/centralserver/internals/models/reports/lr_operating_expenses.py
  CentralServer/centralserver/internals/models/reports/lr_revolving_fund.py
  CentralServer/centralserver/internals/models/reports/lr_school_operation_fund.py
  CentralServer/centralserver/internals/models/reports/lr_supplementary_feeding_fund.py
  CentralServer/centralserver/internals/models/user.py
  CentralServer/centralserver/internals/user_handler.py
  CentralServer/centralserver/routers/reports_routes/liquidation.py
  CentralServer/centralserver/routers/reports_routes/payroll.py
  CentralServer/centralserver/routers/users_routes.py
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/liquidation-report/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/payroll/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/sales/page.tsx
  WebClient/src/app/(contextWrapper)/layout.tsx
  WebClient/src/components/MonthlyReportDetailsModal.tsx
  WebClient/src/components/UserSyncButton.tsx
  WebClient/src/lib/api/csclient/sdk.gen.ts
  WebClient/src/lib/api/csclient/types.gen.ts
  WebClient/src/lib/hooks/useUserSync.ts
  WebClient/src/lib/hooks/useUserSyncControls.ts
  WebClient/src/lib/providers/user.tsx
Labels: kind > enhancement, scope > web client, scope > central server

#662 Multiple Quick Updates
  CentralServer/centralserver/internals/adapters/object_store.py
  CentralServer/centralserver/internals/attachment_handler.py
  CentralServer/centralserver/internals/models/reports/report_status_manager.py
  CentralServer/centralserver/internals/user_handler.py
  CentralServer/centralserver/routers/reports_routes/daily.py
  CentralServer/centralserver/routers/reports_routes/liquidation.py
  CentralServer/centralserver/routers/reports_routes/monthly.py
  CentralServer/centralserver/routers/reports_routes/payroll.py
  CentralServer/centralserver/routers/users_routes.py
  WebClient/bun.lock
  WebClient/package-lock.json
  WebClient/package.json
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/notifications/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/liquidation-report/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/payroll/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/statistics/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/reports/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/reports/prev_page.txt
  WebClient/src/app/(contextWrapper)/(loggedIn)/dashboard/page.tsx
  WebClient/src/components/Dashboard/HomeSection.tsx
  WebClient/src/components/LoadingComponent/LoadingComponent.tsx
  WebClient/src/components/LoggedInNavBar/Navbar.tsx
  WebClient/src/components/MainLoginComponent/MainLoginComponent.tsx
  WebClient/src/components/ResetPasswordComponent/ResetPasswordComponent.tsx
  WebClient/src/components/SchoolManagement/CreateSchoolComponent.tsx
  WebClient/src/components/SpotlightComponent.tsx
  WebClient/src/components/UserManagement/ChangeEmailComponent.tsx
  WebClient/src/lib/info.ts
  WebClient/tests/components/LoadingComponent.test.tsx
  WebClient/tests/constants/info.test.ts
  WebClient/tests/lib/info.test.ts
  WebClient/tests/lib/theme.test.ts
  WebClient/tests/pages/layout.test.tsx
  WebClient/tests/theme/theme.test.ts
Labels: kind > bug, kind > enhancement, tag > help wanted, scope > web client, scope > central server

#663 feat: Add announcement feature for notifications
  CentralServer/centralserver/info.py
  CentralServer/centralserver/internals/permissions.py
  CentralServer/centralserver/routers/notification_routes.py
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/notifications/page.tsx
  WebClient/src/lib/api/csclient/sdk.gen.ts
  WebClient/src/lib/api/csclient/types.gen.ts
Labels: kind > enhancement, scope > web client, scope > central server

#702 Docker & OAuth
  CentralServer/Dockerfile
  CentralServer/centralserver/internals/config_handler.py
  CentralServer/centralserver/internals/models/user.py
  CentralServer/centralserver/routers/auth_routes/__init__.py
  CentralServer/centralserver/routers/auth_routes/oauth.py
  WebClient/Dockerfile
  WebClient/bun.lock
  WebClient/next.config.ts
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/welcome/page.tsx
  WebClient/src/components/MainLoginComponent/MainLoginComponent.tsx
  WebClient/src/components/UserManagement/EditUserComponent.tsx
  WebClient/src/lib/utils/oauth-popup.ts
  compose.yaml
Labels: kind > enhancement, scope > web client, scope > central server

#713 Fixes
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/liquidation-report/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/payroll/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/sales/page.tsx
Labels: kind > bug, kind > enhancement, scope > web client, scope > central server
