Repository Bento-Project-SCARS/ProjectSCARS, pull requests merged in 2025-06, with the labels that each got.

#349 feat(central-server): add Garage support
  CentralServer/README.md
  CentralServer/centralserver/internals/adapters/__init__.py
  CentralServer/centralserver/internals/adapters/config.py
  CentralServer/centralserver/internals/adapters/object_store.py
  CentralServer/centralserver/internals/config_handler.py
  CentralServer/scripts/clean.py
  CentralServer/system/garage/.gitignore
  CentralServer/system/garage/compose.yaml
  CentralServer/system/garage/garage.example.toml
  CentralServer/system/minio/compose.yaml
  CentralServer/tests/test_adapters_object_store.py
  CentralServer/tests/test_confighandler.py
  README.md
Labels: kind > enhancement, tag > good first issue, scope > central server

#354 feat(web-client): user management
  CentralServer/centralserver/internals/models/reports/disbursement_voucher.py
  CentralServer/centralserver/internals/permissions.py
  CentralServer/centralserver/routers/users_routes.py
  CentralServer/tests/test_user_management.py
  WebClient/package-lock.json
  WebClient/package.json
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/statistics/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/layout.tsx
  WebClient/src/components/LoggedInNavBar/Navbar.module.css
  WebClient/src/components/LoggedInNavBar/Navbar.tsx
  WebClient/src/components/MainLoginComponent/MainLoginComponent.tsx
  WebClient/src/components/Navbar.tsx
  WebClient/src/components/ResetPasswordComponent/ResetPasswordComponent.tsx
  WebClient/src/lib/api/auth.tsx
  WebClient/src/lib/api/user.tsx
  WebClient/src/lib/info.ts
  WebClient/src/lib/providers/auth.tsx
  WebClient/src/lib/providers/user.tsx
  WebClient/src/lib/types.ts
Labels: kind > enhancement, scope > web client

#358 feat(central-server,web-client): notifications system
  CentralServer/centralserver/internals/adapters/object_store.py
  CentralServer/centralserver/internals/exceptions.py
  CentralServer/centralserver/internals/models/notification.py
  CentralServer/centralserver/internals/models/user.py
  CentralServer/centralserver/internals/notification_handler.py
  CentralServer/centralserver/internals/permissions.py
  CentralServer/centralserver/internals/user_handler.py
  CentralServer/centralserver/main.py
  CentralServer/centralserver/routers/auth_routes.py
  CentralServer/centralserver/routers/notification_routes.py
  CentralServer/centralserver/routers/users_routes.py
  CentralServer/templates/mail/email_verification.html
  CentralServer/templates/mail/email_verification.txt
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/notifications/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/components/LoggedInNavBar/Navbar.tsx
  WebClient/src/lib/api/notification.tsx
  WebClient/src/lib/api/user.tsx
  WebClient/src/lib/types.ts
Labels: kind > enhancement, scope > web client, scope > central server

#371 Prevent unnecessary email updates and update user fetching
  CentralServer/centralserver/internals/notification_handler.py
  CentralServer/centralserver/internals/user_handler.py
  WebClient/src/app/(contextWrapper)/(loggedIn)/dashboard/page.tsx
Labels: kind > bug, kind > enhancement, scope > web client, scope > central server

#373 fix(web-client): update useEffect dependencies to prevent infinite loop
  WebClient/src/app/(contextWrapper)/(loggedIn)/dashboard/page.tsx
Labels: kind > bug, scope > web client

#379 report
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/liquidation-report/page.tsx
  WebClient/src/components/ExpenseButton.tsx
  WebClient/src/components/SplitButton/SplitButton.module.css
  WebClient/src/components/SplitButton/SplitButton.tsx
Labels: kind > enhancement, scope > web client

#383 feat: redesign report submission page UI (wip)
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/liquidation-report/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/page.tsx
  WebClient/src/components/ExpenseButton.tsx
  WebClient/src/components/LiquidationReportCategory.tsx
Labels: kind > enhancement, scope > web client

#380 feat(central-server): School Management
  CentralServer/centralserver/internals/adapters/object_store.py
  CentralServer/centralserver/internals/models/school.py
  CentralServer/centralserver/internals/models/user.py
  CentralServer/centralserver/internals/permissions.py
  CentralServer/centralserver/internals/school_handler.py
  CentralServer/centralserver/internals/user_handler.py
  CentralServer/centralserver/main.py
  CentralServer/centralserver/routers/auth_routes.py
  CentralServer/centralserver/routers/schools_routes.py
  CentralServer/scripts/clean.py
  CentralServer/tests/test_user_management.py
  CentralServer/tests/test_user_school_management.py
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/lib/api/auth.tsx
  WebClient/src/lib/api/school.tsx
  WebClient/src/lib/api/user.tsx
  WebClient/src/lib/types.ts
Labels: kind > enhancement, scope > central server

#397 fix(web-client): user avatar on hover card and temporarily remove sch…
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/lib/types.ts
Labels: kind > bug, scope > web client

#400 refactor(central-server): remove deprecated user deactivation and reactivation endpoints
  CentralServer/centralserver/internals/user_handler.py
  CentralServer/centralserver/routers/users_routes.py
  CentralServer/tests/test_user_management.py
Labels: kind > bug, scope > central server

#406 Re-add one-to-many relationship between users and schools
  CentralServer/centralserver/internals/models/school.py
  CentralServer/centralserver/internals/models/user.py
  CentralServer/centralserver/internals/permissions.py
  CentralServer/centralserver/internals/user_handler.py
  CentralServer/centralserver/routers/users_routes.py
  CentralServer/config.pytest.json
  CentralServer/tests/test_user_management.py
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/payroll/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/schools/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/dashboard/page.tsx
  WebClient/src/components/LoadingComponent/LoadingComponent.tsx
  WebClient/src/lib/api/school.tsx
  WebClient/src/lib/types.ts
Labels: kind > enhancement, scope > web client, scope > central server

#422 user avatars and school logos management
  CentralServer/.config.example.json
  CentralServer/centralserver/internals/adapters/config.py
  CentralServer/centralserver/internals/adapters/object_store.py
  CentralServer/centralserver/internals/config_handler.py
  CentralServer/centralserver/internals/models/school.py
  CentralServer/centralserver/internals/school_handler.py
  CentralServer/centralserver/internals/user_handler.py
  CentralServer/centralserver/routers/schools_routes.py
  CentralServer/centralserver/routers/users_routes.py
  CentralServer/config.pytest.json
  CentralServer/data/.gitignore
  CentralServer/tests/test_adapters_object_store.py
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/payroll/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/reports/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/schools/page.tsx
  WebClient/src/lib/types.ts
Labels: kind > enhancement, scope > central server

#423 build(deps,web-client): update mantine to 8.1.0
  WebClient/package-lock.json
  WebClient/package.json
Labels: kind > dependencies, scope > web client

#419 navbar & payroll
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/payroll/page.tsx
  WebClient/src/components/LoggedInNavBar/Navbar.tsx
Labels: kind > enhancement, scope > web client

#424 Implementing Bulk Deactivation/Reactivation of Users
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/components/UserManagement/EditUserComponent.tsx
Labels: kind > enhancement, scope > web client

#433 fix(web-client): reset index after user update and improve email veri…
  WebClient/src/components/UserManagement/EditUserComponent.tsx
Labels: kind > bug, scope > web client

#434 feat(web-client): user/school management fixes
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/schools/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/layout.tsx
  WebClient/src/components/LoggedInNavBar/Navbar.module.css
  WebClient/src/components/LoggedInNavBar/Navbar.tsx
  WebClient/src/components/UserManagement/EditUserComponent.tsx
Labels: kind > bug, scope > web client

#436 `populate.py` and create user/school permission check
  CentralServer/pyproject.toml
  CentralServer/scripts/populate.py
  CentralServer/uv.lock
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/schools/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/components/UserManagement/EditUserComponent.tsx
Labels: kind > enhancement, scope > web client, scope > central server

#437 test(central-server): fix server tests
  CentralServer/tests/test_user_management.py
Labels: kind > enhancement, scope > central server

#438 Dinosaur RAWR RAWRR RAWR
  CentralServer/scripts/populate.py
  WebClient/src/app/(contextWrapper)/(loggedIn)/dashboard/page.tsx
Labels: kind > bug, scope > central server

#442 feat: User Profile Management
  CentralServer/centralserver/internals/auth_handler.py
  CentralServer/centralserver/routers/auth_routes.py
  CentralServer/scripts/populate.py
  CentralServer/tests/test_user_management.py
  CentralServer/tests/test_user_school_management.py
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/sales/page.tsx
  WebClient/src/lib/api/auth.tsx
Labels: kind > enhancement, scope > web client, scope > central server

#447 fix(central-server): fix crashes when logfile has reached its max size
  CentralServer/.gitignore
  CentralServer/centralserver/internals/logger.py
  CentralServer/centralserver/internals/permissions.py
  CentralServer/centralserver/routers/reports_routes.py
  CentralServer/pyproject.toml
  CentralServer/uv.lock
Labels: kind > bug, scope > central server

#450 feat(web-client,central-server)!: implementing monthly report management
  CentralServer/centralserver/internals/models/reports/monthly_report.py
  CentralServer/centralserver/internals/permissions.py
  CentralServer/centralserver/routers/reports_routes.py
  WebClient/package-lock.json
  WebClient/package.json
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/settings/page.tsx
  WebClient/src/components/Dashboard/HomeSection.tsx
  WebClient/src/components/ErrorBoundary/ErrorBoundary.tsx
  WebClient/src/lib/api/report.tsx
  WebClient/src/lib/api/school.tsx
  WebClient/src/lib/types.ts
Labels: kind > enhancement, scope > web client, scope > central server

#452 fix(central-server): fix #432
  CentralServer/centralserver/internals/user_handler.py
Labels: kind > bug, scope > central server

#453 feat(reports): enhance payroll with custom rates and working days config
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/liquidation-report/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/payroll/page.tsx
Labels: kind > enhancement, scope > web client

#454 (Dev) Site Settings, User Profile, Dark Mode, Confirmation on Report Management
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/settings/page.tsx
  WebClient/src/app/layout.tsx
  WebClient/src/lib/theme.ts
Labels: kind > enhancement, scope > web client

#463 build(deps,web-client): update Mantine packages to v8.1.1
  WebClient/package-lock.json
  WebClient/package.json
Labels: kind > dependencies, scope > web client

#464 feat(web-client): replace tabs with category filters
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/page.tsx
Labels: kind > enhancement, scope > web client

#467 feat: Daily Sales and Purchases Reports Management
  CentralServer/centralserver/internals/models/reports/daily_financial_report.py
  CentralServer/centralserver/internals/models/reports/monthly_report.py
  CentralServer/centralserver/internals/models/reports/report_status.py
  CentralServer/centralserver/routers/reports_routes.py
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/sales/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/settings/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/dashboard/page.tsx
  WebClient/src/app/(contextWrapper)/login/oauth/google/page.tsx
  WebClient/src/components/SplitButton/SplitButton.module.css
  WebClient/src/components/SplitButton/SplitButton.tsx
Labels: kind > enhancement, scope > web client, scope > central server

#474 refactor(web-client): remove duplicate imports and clean up unused im…
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/lib/anim.ts
Labels: kind > bug, scope > web client

#480 fix(web-client): fix colors and remove Facebook OAuth references for now
  CentralServer/.config.example.json
  CentralServer/centralserver/internals/adapters/config.py
  CentralServer/centralserver/internals/config_handler.py
  CentralServer/centralserver/internals/mail_handler.py
  CentralServer/centralserver/internals/models/oauth.py
  CentralServer/centralserver/internals/models/user.py
  CentralServer/centralserver/routers/auth_routes.py
  CentralServer/centralserver/routers/users_routes.py
  CentralServer/tests/test_confighandler.py
  CentralServer/tests/test_user_management.py
  README.md
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/layout.tsx
  WebClient/src/components/MainLoginComponent/MainLoginComponent.tsx
  WebClient/src/lib/api/auth.tsx
  WebClient/src/lib/types.ts
Labels: kind > enhancement, scope > web client, scope > central server

#486 fix(web-client): infinite dashboard refresh (fix #392)
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/dashboard/page.tsx
Labels: kind > bug, scope > web client

#488 fix(web-client): update roles for dashboard link visibility; add `preventDefault` to OAuth button clicks
  WebClient/src/app/layout.tsx
  WebClient/src/components/LoggedInNavBar/Navbar.tsx
  WebClient/src/components/MainLoginComponent/MainLoginComponent.tsx
Labels: kind > bug, scope > web client

#489 feat(central-server,web-client): add position field and fix profile page
  CentralServer/centralserver/internals/adapters/object_store.py
  CentralServer/centralserver/internals/models/user.py
  CentralServer/centralserver/internals/permissions.py
  CentralServer/centralserver/internals/user_handler.py
  CentralServer/tests/test_user_management.py
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/components/LoggedInNavBar/Navbar.tsx
  WebClient/src/components/UserManagement/CreateUserComponent.tsx
  WebClient/src/components/UserManagement/EditUserComponent.tsx
  WebClient/src/lib/info.ts
  WebClient/src/lib/types.ts
Labels: kind > enhancement, scope > web client, scope > central server

#490 feat(central-server,web-client): multi-factor authentication
  CentralServer/.config.example.json
  CentralServer/centralserver/info.py
  CentralServer/centralserver/internals/config_handler.py
  CentralServer/centralserver/internals/logger.py
  CentralServer/centralserver/internals/models/token.py
  CentralServer/centralserver/internals/models/user.py
  CentralServer/centralserver/routers/auth_routes.py
  CentralServer/pyproject.toml
  CentralServer/templates/mail/mfa_otp_disabled.html
  CentralServer/templates/mail/mfa_otp_disabled.txt
  CentralServer/templates/mail/mfa_otp_enabled.html
  CentralServer/templates/mail/mfa_otp_enabled.txt
  CentralServer/uv.lock
  WebClient/package-lock.json
  WebClient/package.json
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/dashboard/page.tsx
  WebClient/src/components/MainLoginComponent/MainLoginComponent.tsx
  WebClient/src/components/UserManagement/EditUserComponent.tsx
  WebClient/src/lib/api/auth.tsx
  WebClient/src/lib/info.ts
  WebClient/src/lib/types.ts
Labels: kind > enhancement, scope > web client, scope > central server, tag > security

#491 Fixed User Management Page
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/schools/page.tsx
  WebClient/src/app/(contextWrapper)/(loggedIn)/administration/users/page.tsx
  WebClient/src/components/Dashboard/HomeSection.tsx
Labels: kind > bug, scope > web client

#495 fix(web-client): correct Tailwind CSS plugin configuration and add gl…
  WebClient/postcss.config.mjs
  WebClient/src/app/globals.css
Labels: kind > bug, scope > web client

#499 reports
  CentralServer/centralserver/internals/models/reports/daily_financial_report.py
  CentralServer/centralserver/internals/models/reports/monthly_report.py
  CentralServer/centralserver/internals/models/reports/payroll_report.py
  CentralServer/centralserver/routers/reports_routes.py
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/reports/sales/page.tsx
  WebClient/src/components/UserManagement/EditUserComponent.tsx
  WebClient/src/lib/api/report.tsx
  WebClient/src/lib/types.ts
Labels: kind > enhancement, scope > web client, scope > central server

#521 Enable running package directly using `uv run -m centralserver`
  CentralServer/.config.example.json
  CentralServer/README.md
  CentralServer/centralserver/__main__.py
  CentralServer/centralserver/internals/config_handler.py
  CentralServer/centralserver/internals/logger.py
  README.md
  WebClient/README.md
  docs/central-server-database-setup.md
  docs/central-server-development-setup.md
  docs/central-server-object-store-setup.md
  docs/central-server.md
  docs/deployment.md
  docs/development.md
  docs/web-client-development-setup.md
  docs/web-client.md
Labels: kind > enhancement, scope > central server

#520 fix(web-client): properly set dark mode value when not yet set
  WebClient/src/app/(contextWrapper)/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(contextWrapper)/layout.tsx
  WebClient/src/app/layout.tsx
  WebClient/src/lib/types.ts
Labels: kind > bug, scope > web client
