Repository Bento-Project-SCARS/ProjectSCARS, pull requests merged in 2025-05, with the labels that each got.

#219 chore(local-server)!: remove Local Server system component and relate…
  .github/dependabot.yml
  .github/workflows/central-server-tests.yml
  .github/workflows/lint.yml
  .github/workflows/local-server-tests.yml
  .github/workflows/web-client-tests.yml
  CONTRIBUTING.md
  LocalServer/.config.example.json
  LocalServer/.gitignore
  LocalServer/.pytest.env
  LocalServer/.python-version
  LocalServer/README.md
  LocalServer/config.pytest.json
  LocalServer/localserver/__init__.py
  LocalServer/localserver/info.py
  LocalServer/localserver/internals/__init__.py
  LocalServer/localserver/internals/auth_handler.py
  LocalServer/localserver/internals/config_handler.py
  LocalServer/localserver/internals/db_handler.py
  LocalServer/localserver/internals/logger.py
  LocalServer/localserver/internals/models.py
  LocalServer/localserver/internals/permissions.py
  LocalServer/localserver/internals/user_handler.py
  LocalServer/localserver/main.py
  LocalServer/localserver/routers/__init__.py
  LocalServer/localserver/routers/auth_routes.py
  LocalServer/localserver/routers/misc_routes.py
  LocalServer/localserver/routers/users_routes.py
  LocalServer/logs/.gitinclude
  LocalServer/pyproject.toml
  LocalServer/scripts/secret.py
  LocalServer/tests/__init__.py
  LocalServer/tests/data/.gitignore
  LocalServer/tests/test_app.py
  LocalServer/tests/test_confighandler.py
  LocalServer/tests/test_db_handler.py
  LocalServer/tests/test_user_management.py
  LocalServer/uv.lock
  README.md
  WebClient/src/lib/info.ts
  WebClient/tests/info.test.tsx
  codecov.yml
Labels: scope > docs, kind > enhancement, scope > ci, scope > web client

#226 build(deps,web-client): update mantine package versions
  WebClient/package-lock.json
  WebClient/package.json
Labels: kind > enhancement, kind > dependencies, scope > web client

#225 feat(central-server,web-client)!: add refresh token support
  CentralServer/README.md
  CentralServer/centralserver/info.py
  CentralServer/centralserver/internals/adapters/config.py
  CentralServer/centralserver/internals/adapters/object_store.py
  CentralServer/centralserver/internals/auth_handler.py
  CentralServer/centralserver/internals/logger.py
  CentralServer/centralserver/internals/models.py
  CentralServer/centralserver/internals/user_handler.py
  CentralServer/centralserver/routers/auth_routes.py
  CentralServer/tests/test_user_management.py
  README.md
Labels: kind > enhancement, scope > web client, scope > central server, tag > security

#217 feat(web-client): User Administration Pages
  CentralServer/centralserver/internals/models.py
  CentralServer/centralserver/routers/auth_routes.py
  WebClient/.env.example
  WebClient/.gitignore
  WebClient/package-lock.json
  WebClient/package.json
  WebClient/src/app/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(loggedIn)/(normalUser)/reports/page.tsx
  WebClient/src/app/(loggedIn)/(normalUser)/statistics/page.tsx
  WebClient/src/app/(loggedIn)/administration/reports/page.tsx
  WebClient/src/app/(loggedIn)/administration/schools/page.tsx
  WebClient/src/app/(loggedIn)/administration/settings/page.tsx
  WebClient/src/app/(loggedIn)/administration/statistics/page.tsx
  WebClient/src/app/(loggedIn)/administration/users/page.tsx
  WebClient/src/app/(loggedIn)/dashboard/page.tsx
  WebClient/src/app/(loggedIn)/layout.tsx
  WebClient/src/app/layout.tsx
  WebClient/src/app/login/page.tsx
  WebClient/src/app/page.tsx
  WebClient/src/components/LoadingComponent.tsx
  WebClient/src/components/MainLoginComponent.tsx
  WebClient/src/components/Navbar.tsx
  WebClient/src/components/NavbarSimple.module.css
  WebClient/src/components/dev/ReactScan.tsx
  WebClient/src/lib/api/auth.tsx
  WebClient/src/lib/info.ts
  WebClient/src/lib/providers/auth.tsx
  WebClient/src/lib/types.ts
Labels: kind > enhancement, scope > web client

#227 fix(central-server): only accept specific type of token
  CentralServer/centralserver/internals/auth_handler.py
  CentralServer/centralserver/routers/auth_routes.py
  CentralServer/tests/test_user_management.py
Labels: kind > bug, scope > central server, tag > security

#256 Rawr
  WebClient/package-lock.json
  WebClient/package.json
  WebClient/src/app/(loggedIn)/administration/reports/accordion.module.css
  WebClient/src/app/(loggedIn)/administration/reports/page.tsx
  WebClient/src/app/(loggedIn)/administration/schools/page.tsx
  WebClient/src/app/(loggedIn)/administration/statistics/container.module.css
  WebClient/src/app/(loggedIn)/administration/statistics/data.ts
  WebClient/src/app/(loggedIn)/administration/statistics/page.tsx
  WebClient/src/app/(loggedIn)/administration/users/page.tsx
  WebClient/src/app/(loggedIn)/dashboard/page.tsx
  WebClient/src/app/layout.tsx
  WebClient/src/app/login/page.tsx
  WebClient/src/components/BENTOLogo.svg
  WebClient/src/components/MainLoginComponent.module.css
  WebClient/src/components/MainLoginComponent.tsx
  WebClient/src/components/Navbar.tsx
  WebClient/src/components/SpotlightComponent.tsx
  WebClient/src/lib/info.ts
Labels: kind > enhancement, scope > web client

#259 feat(profile): add layout for user profile page
  LocalServer/localserver/__pycache__/__init__.cpython-312.pyc
  LocalServer/localserver/__pycache__/info.cpython-312.pyc
  LocalServer/localserver/__pycache__/main.cpython-312.pyc
  LocalServer/localserver/internals/__pycache__/__init__.cpython-312.pyc
  LocalServer/localserver/internals/__pycache__/config_handler.cpython-312.pyc
  WebClient/src/app/(loggedIn)/(normalUser)/account/profile/page.tsx
Labels: kind > enhancement, scope > web client

#267 feat(central-server,web-client): return only one JWT on `/token`
  CentralServer/.config.dev.json
  CentralServer/centralserver/routers/auth_routes.py
  CentralServer/tests/test_user_management.py
  WebClient/src/components/MainLoginComponent.tsx
  WebClient/src/lib/api/auth.tsx
  WebClient/src/lib/providers/auth.tsx
Labels: kind > enhancement, scope > web client, scope > central server

#268 feat(web-client): update BENTO logo usage and version numbers
  CentralServer/centralserver/info.py
  CentralServer/pyproject.toml
  WebClient/package.json
  WebClient/public/assets/BENTOLogo.svg
  WebClient/src/components/LoadingComponent.tsx
  WebClient/src/components/MainLoginComponent.tsx
  WebClient/src/components/Navbar.tsx
  WebClient/src/components/dev/ReactScan.tsx
  WebClient/src/lib/info.ts
Labels: kind > enhancement, scope > web client

#269 feat(web-client): add icon in sign in button
  WebClient/src/app/(loggedIn)/layout.tsx
  WebClient/src/components/MainLoginComponent.tsx
Labels: kind > enhancement, scope > web client

#270 feat(web-client): navbar scrollbar
  CentralServer/uv.lock
  WebClient/src/app/(loggedIn)/layout.tsx
Labels: kind > enhancement, scope > web client

#278 chore(web-client): update mantine deps to v8.0.1
  WebClient/package-lock.json
  WebClient/package.json
Labels: kind > dependencies, scope > web client

#277 feat(web-client): fetch and display user avatar and info, and update `/token` in central server
  CentralServer/.gitignore
  CentralServer/centralserver/internals/models.py
  CentralServer/centralserver/routers/auth_routes.py
  CentralServer/tests/test_user_management.py
  WebClient/public/favicon.ico
  WebClient/src/app/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(loggedIn)/layout.tsx
  WebClient/src/app/layout.tsx
  WebClient/src/app/page.tsx
  WebClient/src/components/LoadingComponent.tsx
  WebClient/src/lib/api/auth.tsx
  WebClient/src/lib/api/user.tsx
Labels: kind > enhancement, scope > web client, scope > central server

#280 feat(central-server,web-client): user onboarding
  CentralServer/.config.dev.json
  CentralServer/.config.example.json
  CentralServer/centralserver/internals/models.py
  CentralServer/centralserver/internals/user_handler.py
  WebClient/package-lock.json
  WebClient/package.json
  WebClient/src/app/(loggedIn)/dashboard/page.tsx
  WebClient/src/app/(loggedIn)/layout.tsx
  WebClient/src/app/layout.tsx
  WebClient/src/components/LoadingComponent.tsx
  WebClient/src/components/MainLoginComponent.tsx
  WebClient/src/components/Navbar.module.css
  WebClient/src/components/Navbar.tsx
  WebClient/src/lib/api/auth.tsx
  WebClient/src/lib/types.ts
Labels: kind > enhancement, scope > web client, scope > central server

#279 nyaw nyaw
  CentralServer/uv.lock
  WebClient/package-lock.json
  WebClient/src/app/(loggedIn)/administration/reports/page.tsx
  WebClient/src/app/(loggedIn)/administration/statistics/GrossProfitdata.ts
  WebClient/src/app/(loggedIn)/administration/statistics/NetSalesdata.ts
  WebClient/src/app/(loggedIn)/administration/statistics/Stats.module.css
  WebClient/src/app/(loggedIn)/administration/statistics/container.module.css
  WebClient/src/app/(loggedIn)/administration/statistics/data.ts
  WebClient/src/app/(loggedIn)/administration/statistics/page.tsx
  WebClient/src/app/(loggedIn)/administration/users/page.tsx
Labels: kind > enhancement, scope > web client

#285 feat(web-client): add animated and draggable logo to loading/login
  CentralServer/centralserver/info.py
  CentralServer/pyproject.toml
  WebClient/next.config.ts
  WebClient/package-lock.json
  WebClient/package.json
  WebClient/src/components/LoadingComponent.tsx
  WebClient/src/components/MainLoginComponent.tsx
  WebClient/src/lib/info.ts
  WebClient/vite.config.js
Labels: kind > enhancement, scope > web client

#295 refactor(central-server): use async for functions as needed
  CentralServer/centralserver/__init__.py
  CentralServer/centralserver/info.py
  CentralServer/centralserver/internals/adapters/object_store.py
  CentralServer/centralserver/internals/auth_handler.py
  CentralServer/centralserver/internals/db_handler.py
  CentralServer/centralserver/internals/permissions.py
  CentralServer/centralserver/internals/user_handler.py
  CentralServer/centralserver/main.py
  CentralServer/centralserver/routers/auth_routes.py
  CentralServer/centralserver/routers/users_routes.py
  CentralServer/pyproject.toml
  CentralServer/tests/test_db_handler.py
  CentralServer/tests/test_user_management.py
  CentralServer/uv.lock
Labels: kind > bug, scope > central server

#297 feat(dev,central-server): added `clean.py` for resetting the system
  CentralServer/scripts/clean.py
Labels: kind > enhancement, scope > central server

#299 fix(dev,central-server): fix clean.py crashing when deleting non-empty dirs
  CentralServer/scripts/clean.py
Labels: kind > bug, kind > enhancement

#306 feat(web-client): CSV export on schools page, add site settings
  WebClient/src/app/(loggedIn)/administration/schools/page.tsx
  WebClient/src/app/(loggedIn)/administration/settings/page.tsx
Labels: kind > enhancement, scope > web client

#308 feat(web-client): Add error handling page
  WebClient/src/app/error.tsx
Labels: kind > enhancement, scope > web client

#311 feat(central-server)!: finalize database design
  CentralServer/centralserver/internals/models/reports.py
Labels: kind > enhancement, tag > help wanted, scope > central server

#312 feat(central-server): add PostgreSQL support
  CentralServer/README.md
  CentralServer/centralserver/internals/adapters/config.py
  CentralServer/centralserver/internals/config_handler.py
  CentralServer/pyproject.toml
  CentralServer/scripts/clean.py
  CentralServer/system/mysql/compose.yaml
  CentralServer/system/postgresql/.env.example
  CentralServer/system/postgresql/.gitignore
  CentralServer/system/postgresql/compose.yaml
  CentralServer/tests/test_adapters_database.py
  CentralServer/uv.lock
  README.md
Labels: kind > enhancement, tag > good first issue, kind > dependencies, scope > central server

#317 chore(central-server): implement MySQL, PostgreSQL, and Minio cleaning functionality in `clean.py`
  CentralServer/scripts/clean.py
Labels: kind > enhancement, scope > central server

#310 upload avatar, report
  CentralServer/centralserver/routers/users_routes.py
  WebClient/src/app/(loggedIn)/(normalUser)/account/profile/page.tsx
  WebClient/src/app/(loggedIn)/(normalUser)/reports/liquidation-report/page.tsx
  WebClient/src/app/(loggedIn)/(normalUser)/reports/page.tsx
  WebClient/src/components/ExpenseButton.tsx
  WebClient/src/lib/api/user.tsx
Labels: kind > enhancement, scope > web client, scope > central server

#336 build(deps,web-client): update mantine packages
  WebClient/package-lock.json
  WebClient/package.json
Labels: kind > dependencies, scope > web client

#343 build(deps,web-client): add `mantine-data-grid`
  WebClient/package-lock.json
  WebClient/package.json
Labels: kind > dependencies, scope > web client
